<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div>
        <h1>QUEM SOU EU </h1>
    </div>
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
        <img mat-card-image src='assets/images/familia.jpeg' alt="familia">
        <mat-card-content>
          <p class="texto"> 
            Sou uma pai de Família, tenho minha familia linda, semprei sonhei trabalhando no ramo de programação, 
            mas a vida nos apresenta outros caminhos, na qual muita das vezes, não conseguimos trabalhar naquilo que sonhamos logo de cara, 
            mas nunca desisti, e hoje consegui entrar na Área, mas ainda tem um sonho que é de Trabalhar numa Empresa Gigante, 
            chamada <strong>AVANADE</strong> e esse projeto foi pensando nisso na Diversidade e aceitação da empresa, que não olha idade, cor da pela, crença,
            e sim em <strong>PESSOAS.</strong> 
          </p>
        </mat-card-content>
        <mat-card-actions>
        <h2>#ME CONTRATA</h2>
        </mat-card-actions>
      </mat-card>
</body>
</html>





