h1{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.example-form {
    min-width: 150px;
    max-width: 1000px;
    width: 100%;
    margin-left: 50px;
    margin-top: 30px;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }

 .btnOpen{
    background-color: black;
    color: white;
  }

  .classbotoes{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btnSalvar{
    margin-left: 20px;
    background-color: orangered;
    color: white;
  }


  
  @media (max-width: 400px){

   form{
    width: 50%;
   }

    }
