<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<h1>Conheça nossa Equipe</h1>

<section>
    <div class="example-button-row">
      <button class="btnOpen" (click)="exibeTable()" mat-raised-button color="danger">CLIQUE AQUI</button>
      <button class="btnClose" (click)="closeTable()" mat-raised-button color="danger">FECHAR</button>
    </div>
  </section>

    <table *ngIf="exibirTable">
        <thead>
            <th>Foto</th>
            <th>Name</th>
            <th>Raça</th>
            <th>Email</th>
            <th>Telefone</th>
        </thead>
        <tr *ngFor="let pessoas of listaPessoas">
            <td><img [src]="pessoas.foto" width="80" height="80"></td>
            <td>{{pessoas.name}}</td>
            <td>{{pessoas.raca}}</td>
            <td>{{pessoas.email}}</td>
            <td>{{pessoas.telefone}}</td>
          </tr>
    </table>
    
  <section class="quantpessoas">
    <div>
      <h1>Quantidade de Pessoas: {{valorPessoas}}</h1>
    </div>
  </section>

</body>
</html>