<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="titulo">
        <h2> Diversidade e Inclusão é na </h2>
        <h1>AVANADE</h1>
    </div>

    <div class="banner">
        <img src="/avanadetalentos/src/assets/images/diversidade.jpg" width="50%" alt="">
    </div>
    

    <div class="recursos">
        <li>
            Grupo de Recursos de Funcionárias Mulheres – Capacita mulheres em todos os níveis da organização com aconselhamento, treinamento de liderança e celebrações de mulheres na tecnologia.
        </li>
        <li>
            Grupo de Recursos de Funcionários Veteranos – Recebe veteranos de guerra em suas carreiras civis, oferecendo apoio e oportunidades de desenvolvimento.
        </li>
        <li>
            Grupo de Recursos de Funcionários Prism (LGBT + igualdade) – Parceria com LGBTQs e simpatizantes para estimular a inclusão e o apoio no mundo todo.
        </li>
    </div>
</body>
</html>